# Hypervisor configuration options

# Copyright (c) 2021 Huang Jiajia
# Email: Huanhjj2020@hnu.edu.cn
# Date: 2021-12-07
# SPDX-License-Identifier: Apache-2.0

menuconfig HYPERVISOR
	bool "Hypervisor"

if HYPERVISOR

config CONFIG_HYPERVISOR
	bool "Set shell for hypervisor"
	default y    
	help
	  The hypervisor app have a top shell to receive command, such as zvisor.

endif   # HYPERVISOR