# ZVM configuration options

# Copyright (c) 2021 Huang Jiajia
# Email: Huanhjj2020@hnu.edu.cn
# Date: 2021-12-07
# SPDX-License-Identifier: Apache-2.0

menuconfig ZVM
	bool "ZVM"
	help
	  Zephyr virtualization support.

if ZVM

config CONFIG_ZVM
	bool "Set shell for zvm"
	default y    
	help
	  The zvm app have a top shell to receive command, such as zvm.

config MAX_VM_NUM
	int "Maximum number of simultaneous VMs"
	depends on CONFIG_ZVM
	range 0 64
	default 64
	help
	  Maximum number of simultaneous VMs

config MAX_VCPU_PER_VM
	int "Maximum number of vcpu a vm possese"
	depends on CONFIG_ZVM
	range 1 4
	default 1
	help
	  Maximum number of vcpu a vm possese

endif   # ZVM